.siteTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: xx-large;
    font-weight: bold;
    color: cornflowerblue;
}

.roomNameForm-div{
    width: 50vw;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

.joinRoombtn {
    border: 1px solid #383;
    background-color: #4CAF50; /* Green */
    width:100%;
}

.joinRoombtn:hover, .joinRoombtn:focus{
    background: #383;
    border: 1px solid #383;
}

/*Room*/

.siteTitleRoom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 3vh;
    font-size: xx-large;
    font-weight: bold;
    color: cornflowerblue;
}

.sidePan{
    position:fixed;
    padding: 2em 0em 1em 0em;
    height: auto;
    z-index: 1;
    white-space: nowrap;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #111;
    color: white;
}

.sidePan-closed{
    width:0;
}

.sidePan-open{
    width: 20em;
}

.mainPan {
    display: flex;
    height: 70vh;
    width:80vw;
    /*border: 1px solid black;*/
    justify-content: center;
    align-items: center;
    /*margin: 3em 1em 1em 1em;*/
    margin-left: auto;
    margin-right: auto;
}

.secMainPan{
    display: inline-block;
}.toggleSpy-btn{
    margin-top: 1em;
}

.userTitle-lbl{
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
}

.user-lbl{
    margin-left: 1em;
    margin-right: 1em;
    line-height: 2em;
}

.spy-icon{
    width: 2em;
}

.toggleSpy-btn{
    margin-top: 2vh;
    width: 30vw;
    max-width: 15rem;
}

/*Board*/
.board{
    display: grid;
    height: 60vh;
    width: 70vw;
    grid-template-columns: auto auto auto auto auto;
    border: 2px outset;
    background-color: rgb(178, 197, 238);
}

/*Card*/
.card{
    height: 11vh;
    width: 12vw;
    margin: auto;
    border: 2px outset;

    line-height: 11vh; /* for vertical centering*/
    text-align: center;

    font-size: 1.9vw; /* font adjusts on mobiles and resize*/
}

.card-hover:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.card-lbl:hover{
    cursor: pointer;
}

.card-spy{
    background-color: rgb(228, 226, 226);
}

.card-spy-red{
    color: red;
}

.card-spy-blue{
    color: cornflowerblue;
}

.card-spy-bomb{
    font-weight: bold;
}

.card-red{
    background-color: indianred;
}

.card-blue{
    background-color: cornflowerblue;
}

.card-neutral{
    background-color: grey;
}

.card-bomb{
    background-color: black;
    color: white;
    font-weight: bold;
}