.siteTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    margin-bottom: 0vh;
    font-size: xx-large;
    font-weight: bold;
    color: cornflowerblue;
}

.roomNameForm-div{
    width: 50vw;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
}

.joinRoombtn {
    border: 1px solid #383;
    background-color: #4CAF50;
    width:100%;
}

.joinRoombtn:hover, .joinRoombtn:focus {
    background: #383;
    border: 1px solid #383;
}

/*Room*/
.userOptions-div{
    position:absolute;
    z-index: 1;
}

.users-btn{
    font-size: 1rem;
}

.sidePan{
    padding: 0.5rem 0rem 0rem 0rem;
    height: auto;
    white-space: nowrap;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #111;
    color: white;
    font-size: 1rem;
}

.sidePan-closed{
    width:0;
}

.sidePan-open{
    width: 18rem;
}

.mainPan {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 84vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    /*border: 1px solid black;*/ /*Used for css debugging*/
}

/*Used for css debugging*//*
.secMainPan{
    border: 1px solid black;
}*/

.toggleSpy-btn{
    margin-top: 1rem;
}

.userTitle-lbl{
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}

.user-lbl{
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 2rem;
}

.spy-icon{
    width: 2rem;
}

.toggleSpy-btn{
    margin-top: 2vh;
    width: 12rem;
    font-size: 0.9rem;
}

/*Board*/
.board{
    display: grid;
    height: 60vh;
    width: 84vw;
    max-width: 50rem;
    grid-template-columns: auto auto auto auto auto;
    border: 2px outset;
    background-color: rgb(188, 206, 245);
}

.redScore-lbl{
    color: indianred;
}

.blueScore-lbl{
    color: cornflowerblue;
}

/*Card*/
.card{
    height: 11vh;
    width: 15.8vw;
    max-width: 9.4rem;
    margin: auto;
    border: 2px outset;

    line-height: 11vh; /* for vertical centering*/
    text-align: center;

    font-weight: bolder;
}

@media screen and (min-width: 1100px) {
    .card {
       font-size: 0.85rem;
    }
}

@media (orientation:portrait) {
    .board{
        height: 60vw;
    }

    .card{
        height: 11vw;
        line-height: 11vw;
        font-size: 1.45vw;  /* font adjusts by window size based on dominant dimension */
    }
}

@media (orientation:landscape) {
    .card{
        font-size: 1.45vh; /* font adjusts by window size based on dominant dimension */
    }
}

.card-hover:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.card-lbl:hover{
    cursor: pointer;
}

.card-spy{
    background-color: rgb(235, 236, 236);
}

.card-spy-red{
    color: red;
}

.card-spy-blue{
    color: cornflowerblue;
}

.card-spy-bomb{
    font-weight: bolder;
    font-style:italic;
    text-decoration: underline;
    background-color: rgb(97, 96, 96);
}

.card-red{
    background-color: indianred;
}

.card-blue{
    background-color: cornflowerblue;
}

.card-neutral{
    background-color: darkgray;
}

.card-bomb{
    background-color: black;
    color: white;
    font-weight: bold;
}

.instructions-div{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    text-align: justify;
}